* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  overflow: visible;
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  min-height: 28px;
  padding: 100px 0 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-right: 1px solid #E3E3E3;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  background: #F1F1F1;
  color: #222;
}

body,
input,
button,
.button,
.header-navigation-item,
.header-searchbar-form,
.header-account-name,
.header-account-notices,
.header-account-share,
.header-account-avatar,
.content-block-body-context-counts,
.aside-friends-list-name,
.aside-friends {
  font: normal 13px/1.5em Arial, Helvetica, sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover,
.content-posts-block:hover
.content-posts-block-header-name b a,
.content-posts-block-body-text a,
.content-block-footer-comments-message a,
.content-rightside-title-link a,
.content-rightside-title-border a {
  color: #3366CC;
}

.content-block-footer-comments-black:hover {
  color: #3366CC !important;
}

a:active {
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 0;
}

hr {
  border-color: #D7D7D7;
}

button,
.button,
.aside-navigation,
input[type="button"],
input[type="submit"],
.fixed,
.content-buttons-top,
.content-posts-avatar, 
.content-posts-new,
.content-posts-new-controls,
.content-posts-block-header-options,
.content-posts-block-body-context,
.aside-friends,
.content-block-footer-comments-expand {
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  color: #222;
  padding: 5px;
  border: 1px solid #CCC;
  resize: none;
}

textarea:focus {
  outline: 0;
}

input[type="text"],
input[type="password"] {
  height: 29px;
  padding: 4px 9px;
  border: 1px solid #D9D9D9;
  border-top-color: #C0C0C0;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #B9B9B9;
  border-top-color: #A0A0A0;
  -webkit-box-shadow: inset 0 3px 3px -3px #aaa;
  -moz-box-shadow: inset 0 3px 3px -3px #aaa;
  box-shadow: inset 0 3px 3px -3px #aaa;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4D90FE;
  -webkit-box-shadow: inset 0 3px 2px -2px #aaa;
  -moz-box-shadow: inset 0 3px 2px -2px #aaa;
  box-shadow: inset 0 3px 2px -2px #aaa;
  outline: 0;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: #CCC;
}

button,
.button,
input[type="button"],
input[type="submit"] {
  background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
  background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
  background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
  background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
  height: 29px;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  color: #666;
  padding: 6px 10px;
  border: 1px solid #DCDCDC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #F6F6F6;
  background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
  background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
  background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
  background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
  border-color: #C6C6C6;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.13);
  -moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,.13);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.13);
}

button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #EDEDED;
  background: -webkit-linear-gradient(top, #F7F7F7, #F1F1F1);
  background: -moz-linear-gradient(top, #F7F7F7, #F1F1F1);
  background: -ms-linear-gradient(top, #F7F7F7, #F1F1F1);
  background: -o-linear-gradient(top, #F7F7F7, #F1F1F1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13);
}

button:disabled,
.button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  cursor: default !important;
}

.ou {
  outline: 1px solid red !important;
}

.button-text {
  max-width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-search button,
.header-search .button,
.header-search input[type="button"],
.header-search input[type="submit"] {
  background: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
  background: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
  background: -ms-linear-gradient(top, #F8F8F8, #ECECEC);
  background: -o-linear-gradient(top, #F8F8F8, #ECECEC);
  background-color: #ECECEC;
  font-size: 13px;
  border: 1px solid #C6C6C6;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-search button:hover,
.header-search .button:hover,
.header-search input[type="button"]:hover,
.header-search input[type="submit"]:hover {
  background: -webkit-linear-gradient(top, #FFF, #ECECEC);
  background: -moz-linear-gradient(top, #FFF, #ECECEC);
  background: -ms-linear-gradient(top, #FFF, #ECECEC);
  background: -o-linear-gradient(top, #FFF, #ECECEC);
  background-color: #EFEFEF;
  border-color: #BBBBBB;
}

.header-search button:active,
.header-search .button:active,
.header-search input[type="button"]:active,
.header-search input[type="submit"]:active {
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  outline: 0;
}

.button-blue {
  background: -webkit-linear-gradient(top, #4D90FE, #4787ED) !important;
  background: -moz-linear-gradient(top, #4D90FE, #4787ED) !important;
  background: -ms-linear-gradient(top, #4D90FE, #4787ED) !important;
  background: -o-linear-gradient(top, #4D90FE, #4787ED) !important;
  background-color: #4D90FE !important;
  color: #FFF !important;
  border: 1px solid #3079ED !important;
  cursor: default !important;
}

.button-blue:hover {
  background: -webkit-linear-gradient(top, #4D90FE, #357AE8) !important;
  background: -moz-linear-gradient(top, #4D90FE, #357AE8) !important;
  background: -ms-linear-gradient(top, #4D90FE, #357AE8) !important;
  background: -o-linear-gradient(top, #4D90FE, #357AE8) !important;
  background-color: #357AE8 !important;
  border-color: #2E5BB7 !important;
}

.button-blue:active {
  background-color: #2F75E4 !important;
}

.fs0 {
  font-size: 0;
}

.buttons-group button {
  min-width: 70px;
  color: #444;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: relative;
  margin-left: -1px;
}

.buttons-group button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 0;
}

.buttons-group button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.buttons-group button:hover {
  border-color: #C6C6C6;
  z-index: 50;
}

.buttons-group .active {
  background-color: #E0E0E0;
  background: -webkit-linear-gradient(top, #EDEDED, #E0E0E0) !important;
  background: -moz-linear-gradient(top, #EEE, #E0E0E0) !important;
  background: -ms-linear-gradient(top, #EEE, #E0E0E0) !important;
  background: -o-linear-gradient(top, #EEE, #E0E0E0) !important;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13);
  border-color: #CCC;
  z-index: 50;
}

.content-buttons-top {
  width: 100%;
}

.content-buttons-top-preferences {
  width: 70px;
  text-align: right;
}

.icon-preferences {
  width: 17px;
  height: 17px;
  background: url(../images/content-preferences.png) no-repeat -39px -462px;
  display: inline-block;
  vertical-align: middle;
  opacity: .55;
}

.content-buttons-top-preferences button {
  width: 100%;
}

.content-buttons-top-preferences button:hover .icon-preferences {
  opacity: .8;
}

.content-buttons-top-preferences .bottom-arrow {
  padding-top: 3px;
}

.page-layout,
.header {
  min-width: 960px;
  width: 100%;
}

/* Header */

.header {
  background-color: #F1F1F1;
  padding-bottom: 5px;
  position: fixed;
  z-index: 5000;
}

.header-navigation {
  height: 29px;
  background-color: #2D2D2D;
  color: #BBBBBB;
}

.header-navigation-items {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: default;
  padding-left: 23px;
}

.header-navigation-item {
  display: inline-block;
}

.ie7 .header-navigation-item {
  *display: inline;
  zoom: 1;
}

.header-navigation-item a {
  color: #BBBBBB;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
}

.header-navigation-item a:hover {
  color: #FFF;
  text-decoration: none;
}

.header-navigation-item.active a {
  color: #FFF;
}

.header-navigation-item .arrow {
  width: 0;
  height: 0;
  display: inline-block;
  border: 3px dashed transparent;
  border-top: 3px dashed #AAA;
  vertical-align: bottom;
  padding-bottom: 4px;
}

.header-navigation-item a:hover .arrow {
  border-top-color: #FFF;
}

/* Header Search */

.header-search {
  width: 100%;
  margin: 10px 0;
  -webkit-transition: margin ease .1s;
  -moz-transition: margin ease .1s;
  -o-transition: margin ease .1s;
}

.header-searchbar {
  font-size: 0;
}

.header-searchbar-wrap {
  width: 100%;
}

.header-searchbar-logo img,
.header-searchbar-wrap-form,
.header-account-name,
.header-account-notices,
.header-account-share,
.header-account-avatar {
  vertical-align: middle;
}

.header-searchbar-logo {
  width: 119px;
  padding: 0 43px 0 33px;
}

.header-searchbar-wrap-form {
  width: 100%;
  max-width: 622px;
  min-width: 300px;
  display: inline-block;
}

.header-searchbar-form-wrap {
  width: 100%;
}

.header-searchbar-textfield {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
}

.header-searchbar-wrap-submit {
  width: 85px;
  text-align: left;
  padding-left: 15px;
}

.header-searchbar-submit {
  display: inline-block;
  vertical-align: top;
  cursor: default;
}

.header-searchbar-searchicon {
  width: 14px;
  height: 13px;
  background: transparent url(../images/header-images.png) no-repeat -33px 0;
  font-size: 0;
  margin: 2px 17px;
  vertical-align: top;
  display: inline-block;
}

.header-account-wrap-name,
.header-account-wrap-notices,
.header-account-wrap-share,
.header-account-wrap-avatar {
  text-align: center;
  -webkit-transition: width ease .1s;
  -moz-transition: width ease .1s;
  -o-transition: width ease .1s;
}

.header-account-wrap {
  width: 100%;
}

.header-account-wrap-name {
  text-align: right;
}

.header-account-wrap-notices {
  min-width: 50px;
  width: 50px;
}

.header-account-wrap-share {
  min-width: 100px;
  width: 100px;
}

.header-account-wrap-avatar {
  min-width: 70px;
  width: 70px;
}

.header-account {
  width: 380px;
  font-size: 0;
  text-align: right;
  cursor: default;
}

.header-account button,
.header-account a {
  cursor: pointer !important;
}

.header-account-name {
  max-width: 180px;
  text-align: right;
  display: inline-block;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
}

.header-account-name a {
  max-width: 100%;
  color: #666;
  text-decoration: none;
  padding: 5px 0;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.header-account-notices button {
  font-size: 14px;
  color: #999;
}

.header-account-share {
  position: relative;
}

.header-account-share-plusicon {
  width: 10px;
  height: 10px;
  background: url(../images/header-images.png) no-repeat -163px 0;
  margin-right: 8px;
  display: inline-block;
}

.header-account-share-arrow {
  width: 10px;
  height: 11px;
  background: url(../images/header-images.png) no-repeat -163px -15px;
  display: block;
  position: absolute;
  top: 9px;
  left: 88px;
}

.header-account-share button {
  font-weight: normal;
}

.header-account-share button:hover .header-account-share-arrow {
  background-position: -18px -32px;
}

.header-account-share button:active {
  -webkit-box-shadow: inset 2px 3px 2px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 3px 2px -2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 2px 3px 2px -2px rgba(0, 0, 0, 0.3);
}

.header-account-avatar {
  cursor: pointer;
}

.header-account-avatar img {
  display: inline-block;
  border: 1px solid #C6C6C6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-transition: height ease .1s;
  -moz-transition: height ease .1s;
  -o-transition: height ease .1s;
}

.header-account-avatar-arrow,
.bottom-arrow {
  width: 7px;
  height: 4px;
  background: url(../images/header-images.png) no-repeat -163px -40px;
  vertical-align: middle;
  display: inline-block;
}

button .bottom-arrow {
  margin-left: 5px;
}

.ie8 button .bottom-arrow {
  position: relative;
  top: -1px;
}

.header-account-name,
.header-account-notices,
.header-account-share,
.header-account-avatar {
  padding: 0;
}

.header-account-name,
.header-account-notices,
.header-account-share,
.header-account-avatar {
  display: inline-block;
}


/* Aside */

.aside {
  position: fixed;
  width: 100%;
  padding-top: 103px;
  background-color: #F1F1F1;
  z-index: 1500;
}

.aside-navigation-wrap {
  height: 73px;
  font-size: 11px;
  line-height: 11px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 33px;
  position: relative;
  top: 1px;
}

.aside-navigation-wrap a {
  color: #A7A7A7;
  letter-spacing: 0;
  text-decoration: none;
  padding: 13px 10px;
  display: block;
  cursor: pointer;
  position: relative;
  left: -4px;
}

.aside-navigation-wrap a:hover .aside-navigation-title {
  color: #333;
}

.aside-navigation-icon {
  width: 32px;
  height: 32px;
  background: url(../images/aside-navigation.png) no-repeat 0 0;
  margin: 0 auto;
}

.aside-navigation-title {
  text-align: center;
  padding: 4px 7px 0 7px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Home Icon */

.nav-home {
  background-position: 0 -693px;
}

a:hover .nav-home,
.active .nav-home {
  background-position: 0 -231px;
}

a:active .nav-home {
  background-position: 0 -33px;
}


/* Profile Icon */

.nav-profile {
  background-position: 0 -166px;
}

a:hover .nav-profile,
.active .nav-profile {
  background-position: 0 -892px;
}

a:active .nav-profile {
  background-position: 0 -859px;
}


/* Browse Icon */

.nav-browse {
  background-position: 0 -595px;
}

a:hover .nav-browse,
.active .nav-browse {
  background-position: 0 -199px;
}

a:active .nav-browse {
  background-position: 0 -727px;
}


/* events Icon*/

.nav-events {
  background-image: url(../images/aside-navigation-events.png);
  background-position: 0px -142px;
}

a:hover .nav-events,
.active .nav-events {
  background-position: -21px -195px;
}

a:active .nav-events {
  background-position: -54px -195px;
}


/* Communities Icon */

.nav-communities {
  background-image: url(../images/aside-navigation-communities.png);
  background-position: 0px 0px;
}

a:hover .nav-communities,
.active .nav-communities {
  background-position: 0px -66px;
}

a:active .nav-communities {
  background-position: 0px -33px;
}


/* Hangouts Icon */

.nav-hangouts {
  background-position: 0px -133px;
}

a:hover .nav-hangouts,
.active .nav-hangouts {
  background-position: 0px -562px;
}

a:active .nav-hangouts {
  background-position: 0px -100px;
}

/* Photos Icon*/

.nav-photos {
  background-position: 0px -660px;
}

a:hover .nav-photos,
.active .nav-photos {
  background-position: 0px -297px;
}

a:active .nav-photos {
  background-position: 0px -363px;
}


/* More Icon */

.nav-more {
  background-position: 0px -264px;
}

a:hover .nav-more,
.active .nav-more {
  background-position: 0px -66px;
}

a:active .nav-more {
  background-position: 0px -924px;
}

.aside-navigation-wrap .active {
  background: url(../images/content-top-arrow.gif) no-repeat 24px 62px;
  overflow: visible !important;
}

.nav-new-title {
  font-size: 10px;
  line-height: 10px;
  color: #D14D36;
  position: absolute;
  top: 35px;
  right: 15px;
}

.options-icon {
  width: 13px;
  height: 13px;
  background: url(../images/content-posts-arrows.png) no-repeat -56px -105px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.options-icon:hover {
  background-position: -81px -120px;
}

.aside-friends {
  width: 252px;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 1700;
}

.aside-friends td {
  vertical-align: top;
}

.aside-friends-wrap td {
  vertical-align: top;
}

.aside-friends-call {
  height: 36px;
  margin-bottom: 12px;
}

.aside-friends-call button {
  width: 100%;
  height: 36px;
  background-color: #FEFEFE;
  background-image: url(../images/aside-friends-call.png);
  background-repeat: no-repeat;
  background-position: 41px 7px;
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -webkit-linear-gradient(top, #FEFEFE, #F8F8F8);
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -moz-linear-gradient(top, #FEFEFE, #F8F8F8);
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -ms-linear-gradient(top, #FEFEFE, #F8F8F8);
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -o-linear-gradient(top, #FEFEFE, #F8F8F8);
  font-size: 13px;
  padding-left: 39px;
}

.aside-friends-call button:active {
  background-color: #F8F8F8;
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -webkit-linear-gradient(top, #FEFEFE, #F8F8F8);
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -moz-linear-gradient(top, #FEFEFE, #F8F8F8);
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -ms-linear-gradient(top, #FEFEFE, #F8F8F8);
  background: url(../images/aside-friends-call.png) no-repeat 41px 7px,
              -o-linear-gradient(top, #FEFEFE, #F8F8F8);
}

.ie8 .aside-friends-call button {
  background: #FEFEFE url(../images/aside-friends-call.png) no-repeat 41px 7px;
  -ms-background-position-x: 41px !important;
  -ms-background-position-y: 7px !important;
}

.ie8 .aside-friends-call button:active {
  background: #FEFEFE url(../images/aside-friends-call.png) no-repeat 41px 7px !important;
  -ms-background-position-x: 43px !important;
  -ms-background-position-y: 9px !important;
}

.aside-friends-hide {
  display: none;
}

.aside-friends-chat {
  width: 252px;
  padding: 0 20px;
  position: absolute;
  top: 103px;
/*  -webkit-transition: top ease .1s;
  -moz-transition: top ease .1s;
  -o-transition: top ease .1s;*/
}

.aside-friends-wrap-chat {
  width: 212px;
  table-layout: fixed;
}

.aside-friends-chat-wrap {
  width: 100%;
  height: 73px;
  border: 1px solid #D7D7D7;
  border-bottom: 0;
}

.aside-friends-chat-top {
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCC;
}

.aside-friends-chat-wrap-status {
  width: 100%;
  height: 32px;
  table-layout: fixed;
  cursor: pointer;
}

.aside-friends-chat-wrap-status:hover .aside-friends-chat-status span {
  text-decoration: underline;
}

.aside-friends-chat-wrap-status:hover .aside-friends-chat-options .options-icon {
  background-position: -81px -120px;
}

.aside-friends-chat-wrap-status td {
  vertical-align: middle;
  line-height: 15px;
}

.aside-friends-chat-status {
  padding-left: 12px;
}

.status-icon {
  width: 11px;
  height: 11px;
  background: url(../images/aside-friends-statuses.png) no-repeat 0 -2px;
  margin: 0 2px -2px 0;
  display: inline-block;

}

.aside-friends-chat-options {
  width: 29px;
  text-align: center;
  line-height: 0;
}

.aside-friends-chat-options .options-icon {
  display: inline-block;
  margin: 2px 0 0 0;
}

.aside-friends-chat-wrap-chatwith {
  padding: 6px 5px 7px 5px;
}

.aside-friends-chat-chatwith {
  width: 100%;
  height: 26px !important;
  background: #FFF url(../images/aside-friends-chatwith.png) no-repeat 8px 8px;
  line-height: 15px;
  color: #888 !important;
  padding-left: 25px !important;
  border-color: #D7D7D7 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.aside-friends-chat-chatwith:-webkit-input-placeholder {
  color: #888;
}

.aside-friends-chat-wrap-list {
  height: 100%;
  padding: 224px 20px 20px 20px;
/*  -webkit-transition: padding ease .1s;
  -moz-transition: padding ease .1s;
  -o-transition: padding ease .1s;*/
}

.aside-friends-chat-wrap-list-wrap {
  width: 212px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFF;
  border: 1px solid #D7D7D7;
  border-top: 0;
}

.aside-friends-chat-wrap-list-wrap::-webkit-scrollbar {
  display: none;
  width: 7px;
}

.aside-friends-chat-wrap-list-wrap:hover::-webkit-scrollbar {
  display: block;
  width: 7px;
}

.aside-friends-list-item {
  width: 100%;
  font-size: 0;
  padding: 7px 8px;
  border-top: 1px solid #EEEEEE;
  cursor: pointer;
  display: inline-block;
}

.aside-friends-list-item:first-child {
  border: 0;
}

.aside-friends-list-item:hover {
  background-color: #F0F0F0;
}

.aside-friends-list-avatar,
.aside-friends-list-item .status-icon,
.aside-friends-list-name {
  display: inline-block;
  vertical-align: middle;
}

.aside-friends-list-item .status-icon {
  margin: 0;
}

.aside-friends-list-avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.aside-friends-list-name {
  width: 125px;
  padding-left: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Content */

.wrap-content {
  height: 100%;
  padding: 176px 252px 0 33px;
  -webkit-transition: padding-top ease .1s;
  -moz-transition: padding-top ease .1s;
  -o-transition: padding-top ease .1s;
}

.content-wrap-border {
  width: 100%;
  padding: 0 252px 0 33px;
  position: fixed;
  top: 176px;
  left: 0;
  z-index: 1000;
}

.content-border {
  min-width: 521px;
  width: 100%;
  height: 5px;
  position: relative;
}

.ie8 .content-border {
  min-width: 606px;
  position: relative;
  z-index: 0;
}

.content-border-left,
.content-border-right,
.content-border-left-wrap,
.content-border-right-wrap {
  width: 5px;
  height: 5px;
}

.content-border-left,
.content-border-right {
  background-color: #F1F1F1;
  position: absolute;
  top: 0;
}

.content-border-left-wrap,
.content-border-right-wrap {
  background-color: #fff;
  border-top: 1px solid #D7D7D7;
  position: absolute;
}

.ie8 .content-border-left-wrap,
.ie8 .content-border-right-wrap,
.ie8 .content-border-left,
.ie8 .content-border-right {
  background-color: transparent;
}

.content-border-left {
  left: 0;
}

.content-border-right {
  right: 0;
}

.content-border-left-wrap {
  border-left: 1px solid #D7D7D7;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

.content-border-right-wrap {
  border-right: 1px solid #D7D7D7;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.content-border-wrap-top {
  width: 100%;
  height: 5px;
  padding: 0 5px;
  border-top: 1px solid #D7D7D7;
}

.content-border-top {
  width: 100%;
  height: 8px;
  background: transparent;
}

.content-border-top-shadow {
  -webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%);
  background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
}

.content {
  min-width: 521px;
  min-height: 1024px;
  width: 100%;
  background: #FFF;
  border: 1px solid #D7D7D7;
  border-bottom: 0;
  position: relative;
  z-index: 90;
  display: block;
  padding-bottom: 20px;
}

.content-wrap {
  padding: 0 20px;
}

.content-margin-top {
  margin-top: 15px;
}

.content-posts {
  width: 565px;
  position: relative;
}

.content-posts-item {
  margin-bottom: 19px;
}

.content-posts-avatar {
  width: 67px;
  vertical-align: top;
}

.content-posts-block {
  width: 498px;
  position: relative;
}

.content-posts-block-wrap {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #C4C4C4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.content-posts-add-new .content-posts-block-wrap {
  height: 50px;
  background-color: #F9F9F9;
  background: -webkit-linear-gradient(top, #FFF, #F7F7F7);
  background: -moz-linear-gradient(top, #FFF, #F7F7F7);
  background: -ms-linear-gradient(top, #FFF, #F7F7F7);
  background: -o-linear-gradient(top, #FFF, #F7F7F7);
}

.content-posts-avatar {
  position: relative;
  display: block;
}

.content-posts-add-new .content-posts-avatar-arrow {
  background-position: -11px -117px;
}

.content-posts-avatar-arrow {
  width: 10px;
  height: 21px;
  background: url(../images/content-posts-arrows.png) no-repeat -96px -22px;
  position: absolute;
  top: 15px;
  right: -2px;
  z-index: 120;
}

.content-posts-avatar-image {
  width: 49px;
  height: 49px;
  overflow: hidden;
}

.content-posts-avatar-image img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.content-posts-new {
  width: 100%;
}

.content-posts-new-textfield {
  width: 329px;
  padding: 6px;
}

.ie8 .content-posts-new-textfield input[type="text"] {
  line-height: 26px;
}

.gt-ie8 .content-posts-new-textfield input[type="text"] {
  height: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.content-posts-new-textfield input[type="text"] {
  width: 100%;
  height: 36px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #F8F8F8, #FFF);
  background-image: -moz-linear-gradient(top, #F8F8F8, #FFF);
  background-image: -ms-linear-gradient(top, #F8F8F8, #FFF);
  background-image: -o-linear-gradient(top, #F8F8F8, #FFF);
  font-size: 15px;
  line-height: 16px;
  border-color: #C4C4C4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.13);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.13);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.13);
}

.content-posts-new-textfield input[type="text"]:focus {
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.content-posts-new-controls {
  padding-right: 5px;
}

.content-posts-new-controls-wrap {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: -1px;
}

.content-posts-new-controls-wrap td {
  width: 25%;
  cursor: pointer;
}

.content-posts-block-content thead tr {
  height: 36px;
  vertical-align: bottom;
}

.content-posts-block-content {
  width: 100%;
  table-layout: fixed;
}

.content-posts-block-header-name {
  color: #999;
  line-height: 15px;
  padding: 0 15px 5px;
}

.content-posts-block-header-name b {
  max-width: 330px;
  line-height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.content-posts-block-header-name small {
  font-size: 11px;
  line-height: 11px;
  margin-bottom: -2px;
  display: inline-block;
  vertical-align: middle;
}

.content-posts-block-header-name small i {
  display: inline-block;
  width: 8px;
}

.content-posts-block-header-name small a {
  color: #999;
  display: inline-block;
}

.content-posts-block-header-options {
  width: 40px;
  text-align: center;
}

.content-posts-block-body {
  position: relative;
}

.content-posts-block-body-text {
  padding: 0 15px;
}

.content-posts-block-body-media {
  background-color: #F3F3F3;
  text-align: center;
  margin-top: 12px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.13);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.13);
  box-shadow: 0 1px 1px rgba(0,0,0,.13);
}

.content-posts-block-body-media-top-border {
  width: 100%;
  height: 7px;
  border-top: 1px solid rgba(0,0,0,.15);
  position: absolute;
}

.content-posts-block-body-media-bottom-border {
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(0,0,0,.15);
  position: absolute;
  bottom: 0;
}

.ie8 .content-posts-block-body-media-top-border {
  height: 1px;
  z-index: 100;
  border-top: 1px solid #C4C4C4;
}

.ie8 .content-posts-block-body-media-bottom-border {
  border-top: 1px solid #C4C4C4;
}

.content-posts-block-body-media-top-border .content-border-top-shadow {
  width: 100%;
  height: inherit;
}

.content-posts-block-body-context {
  width: 100%;
}

.content-posts-block-body-context,
.content-posts-block-body-context button {
  font-size: 0;
}

.content-posts-block-body-context,
.content-block-body-context-wrap {
  width: 100%;
}

.content-posts-block-body-context button {
  width: 34px;
  height: 25px;
  margin: 7px 0 7px 7px;
  border: 0;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.content-posts-block:hover button {
  background-color: #F3F3F3;
  background: -webkit-linear-gradient(top, #FFF, #F3F3F3);
  background: -moz-linear-gradient(top, #FFF, #F3F3F3);
  background: -ms-linear-gradient(top, #FFF, #F3F3F3);
  background: -o-linear-gradient(top, #FFF, #F3F3F3);
  border: 1px solid #E0E0E0;
}

.content-posts-block:hover button.icon-plusone {
  background: url(../images/icon-plusone.png) no-repeat center center, -webkit-linear-gradient(top, #FFF, #F3F3F3);
  background: url(../images/icon-plusone.png) no-repeat center center, -moz-linear-gradient(top, #FFF, #F3F3F3);
  background: url(../images/icon-plusone.png) no-repeat center center, -ms-linear-gradient(top, #FFF, #F3F3F3);
  background: url(../images/icon-plusone.png) no-repeat center center, -o-linear-gradient(top, #FFF, #F3F3F3);
}

.content-posts-block:hover button.icon-reply {
  background: url(../images/icon-reply.png) no-repeat center center, -webkit-linear-gradient(top, #FFF, #F3F3F3);
  background: url(../images/icon-reply.png) no-repeat center center, -moz-linear-gradient(top, #FFF, #F3F3F3);
  background: url(../images/icon-reply.png) no-repeat center center, -ms-linear-gradient(top, #FFF, #F3F3F3);
  background: url(../images/icon-reply.png) no-repeat center center, -o-linear-gradient(top, #FFF, #F3F3F3);
}

.content-posts-block-body-context button:active {
  background-color: #EEE;
  -webkit-box-shadow: inset 0 4px 3px -2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0 4px 3px -2px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 4px 3px -2px rgba(0, 0, 0, 0.13);
}

.content-posts-block-body-context button:hover {
  border-color: #BBB;
  -webkit-transition: border-color .2s ease;
  -moz-transition: border-color .2s ease;
  -o-transition: border-color .2s ease;
}

.button-plusone,
.comment-reply {
  opacity: 0;
  -webkit-transition: opacity ease .3s;
  -moz-transition: opacity ease .3s;
  -o-transition: opacity ease .3s;
  cursor: pointer;
}

.ie8 .button-plusone,
.ie8 .comment-reply {
  display: none;
}

.icon-plusone {
  background: url(../images/icon-plusone.png) no-repeat center center;
}

.icon-reply {
  background: url(../images/icon-reply.png) no-repeat center center;
}

.content-posts-block:hover .content-block-body-context-counts {
  color: #DD4B39;
}

.content-posts-block:hover .content-block-body-context-counts .icon-replies {
  background-position: -18px -105px;
}

.content-block-body-context-counts {
  width: 61px;
  font-size: 13px;
  color: #999;
  text-align: center;
  border-left: 1px solid #DDDDDD;
  cursor: pointer;
}

.content-block-body-context-counts b {
  display: inline-block;
  padding: 0 17px;
  white-space: nowrap;
}

.content-block-body-context-counts .plus-more {
  display: inline-block;
  margin-right: 5px;
}

.content-block-body-context-counts:hover {
  background-color: #F3F3F3;
  background: -webkit-linear-gradient(top, #FFF, #F3F3F3);
  background: -moz-linear-gradient(top, #FFF, #F3F3F3);
  background: -ms-linear-gradient(top, #FFF, #F3F3F3);
  background: -o-linear-gradient(top, #FFF, #F3F3F3);
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.content-block-body-context-counts .icon-replies {
  width: 14px;
  height: 10px;
  background: #FFF url(../images/content-posts-arrows.png) -96px -137px;
  display: inline-block; 
}


.content-block-footer {
  background-color: #F8F8F8;
  padding: 16px;
  border: 1px solid #D5D5D5;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin: -2px 2px 0 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.06);
  box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

.content-block-footer-comments {
  width: 100%;
}

.content-block-footer:hover .content-block-footer-comments-expand,
.content-block-footer:hover .content-block-footer-comments-black {
  color: #3366CC !important;
}

.content-block-footer:hover .comments-expand {
  background-position: -96px -44px !important;
}

.content-block-footer:hover .reversed .comments-expand {
  background-position: -96px -72px !important;
}

.content-block-footer-comments tr:hover .button-plusone,
.content-block-footer-comments tr:hover .comment-reply {
  opacity: 1;
  -webkit-transition: opacity ease .3s;
  -moz-transition: opacity ease .3s;
  -o-transition: opacity ease .3s;
}

.ie8 .content-block-footer-comments tr:hover .button-plusone,
.ie8 .content-block-footer-comments tr:hover .comment-reply {
  display: inline-block;
}

.content-block-footer-comments-avatar,
.content-block-footer-comments-message {
  vertical-align: top;
  padding: 0 0 21px 0;
}

.content-block-footer-comments-avatar {
  width: 32px;
  padding: 0 7px 0 0;
}

.content-block-footer-comments-avatar img,
.comments-add-avatar img {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.content-block-footer-comments-expand {
  padding-bottom: 10px;
}

.content-block-footer-comments-expand:hover .comments-expand {
  background-position: -96px -44px;
}

.content-block-footer-comments-expand.reversed .comments-expand {
  background-position: -56px -120px;
}

.content-block-footer-comments-expand.reversed:hover .comments-expand {
  background-position: -96px -72px;
}

.content-block-footer-comments-expand:hover {
  color: #3366CC;
  cursor: pointer;
}

.comments-expand {
  width: 6px;
  height: 7px;
  background: url(../images/content-posts-arrows.png) no-repeat -70px -105px;
  display: inline-block;
  margin-left: 5px;
} 

.content-block-footer-comments-message-name > * {
  height: 17px;
  vertical-align: middle;
}

.content-block-footer-comments-black {
  color: #222 !important;
}

.content-block-footer-comments-message small,
.content-block-footer-comments-message small a {
  font-size: 11px;
  color: #999;
  padding-left: 5px;
  display: inline-block;
}

.pluses-red {
  color: #DD4B39;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  padding-left: 7px;
  margin-top: -2px;
  display: inline-block;
}

.button-plusone,
.button-plusone:hover,
.button-plusone:active {
  width: 24px;
  height: 15px;
  background: transparent url(../images/button-plusone.png) no-repeat top left;
  font-size: 0;
  margin-left: 8px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.button-plusone:hover {
  background-position: 0 -15px;
}

.button-plusone:active {
  background-position: 0 -30px;
}

.button-plusone.active {
  background-position: 0 -45px;
}

.button-plusone.active:hover {
  background-position: 0 -60px;
}

.button-plusone.active:active {
  background-position: 0 -75px;
}

.content-block-footer-comments-message p {
  color: #555;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

.content-block-footer-comments-message a {
  color: #3366CC;
}

.comments-add-wrap {
  width: 100%;
}

.comments-add-wrap td {
  vertical-align: top;
}

.comments-add-avatar {
  width: 32px;
  padding-right: 7px;
}

.comments-add-textfield {
  width: 100%;
  border: 1px solid #DDD !important;
}

.comments-add-textarea {
  width: 100%;
  min-height: 64px;
}

.comments-add-wrap-submit {
  font-size: 0;
  padding-top: 8px;
}

.comments-add-submit {
  background-color: #398A00 !important;
  background: -webkit-linear-gradient(top, #3D9400, #398A00);
  background: -moz-linear-gradient(top, #3D9400, #398A00);
  background: -ms-linear-gradient(top, #3D9400, #398A00);
  background: -o-linear-gradient(top, #3D9400, #398A00);
  color: #FFFFFF;
  margin-right: 15px;
  border-color: #29691D;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.comments-add-submit:hover,
.comments-add-submit:active {
  background-color: #368200 !important;
  background: -webkit-linear-gradient(top, #3D9400, #368200);
  background: -moz-linear-gradient(top, #3D9400, #368200);
  background: -ms-linear-gradient(top, #3D9400, #368200);
  background: -o-linear-gradient(top, #3D9400, #368200);
  border-color: #2D6200;
}

.comments-add-submit:active {
  border-color: #3B8F00;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.comments-add-submit:disabled,
.comments-add-submit.disabled {
  background: none !important;
  background-color: #9AC67C !important;
  color: #FBFBFB !important;
  border-color: #90B08A !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.content-wrap-rightside {
  width: 256px;
  position: absolute;
  top: 143px;
  left: 606px;
}

.content-rightside-block {
  width: 100%;
  height: 100px;
  table-layout: fixed;
}

.content-rightside-block td {
  vertical-align: top;
}

.ie8 .content-rightside-block:hover .content-rightside-title-border a {
  display: inline-block;
}

.content-rightside-block:hover .content-rightside-title-border a {
  opacity: 1;
  -webkit-transition: opacity ease .3s;
  -moz-transition: opacity ease .3s;
  -o-transition: opacity ease .3s;
}

.content-rightside-title-header,
.content-rightside-title-border {
  height: 20px;
}

.content-rightside-title-header {
  width: 60%;
}

.content-rightside-title-header h4 {
  background-color: #FFF;
  font-size: 11px;
  line-height: 11px;
  color: #656565;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px 0 0;
  display: inline-block;
}

.ie8 .content-rightside-title-border a {
  display: none;
}

.content-rightside-title-border {
  min-width: 85px;
  text-align: right;
}

.content-rightside-title-border a {
  background-color: #FFF;
  font-size: 11px;
  line-height: 12px;
  padding-left: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity ease .3s;
  -moz-transition: opacity ease .3s;
  -o-transition: opacity ease .3s;
}

.content-rightside-title-header,
.content-rightside-title-border {
  background: url(../images/content-rightside-title-border.gif) repeat-x center left;
}

.content-rightside-title-header h4,
.content-rightside-title-border a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-rightside-block-mutual {
  width: 100%;
  margin-top: 9px;
  margin-bottom: 55px;
}

.content-rightside-block-mutual-avatar {
  width: 32px;
  height: 44px;
  padding: 0 10px 0 0;
}

.content-rightside-block-mutual-avatar img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.content-rightside-block-mutual-name {
  line-height: 15px;
}

.content-rightside-block-mutual-name > a {
  display: inline-block;
}

.content-rightside-block-mutual-name a,
.content-rightside-block-mutual-name small {
  vertical-align: top;
}

.content-rightside-block-mutual-name small {
  font-size: 11px;
  line-height: 16px;
  color: #999;
  display: block;
}

.content-rightside-block-mutual-name small a {
  color: #999;
}

.content-rightside-block-mutual-add,
.content-rightside-block-mutual-add button {
  width: 80px;
}

.content-rightside-block-mutual-add button {
  padding: 0;
}

.content-rightside-block-profile-fill {
  width: 100%;
  vertical-align: top;
  margin-top: 5px;
}

.content-rightside-block-profile-fill td {
  vertical-align: top;
}

.content-rightside-block-profile-plenum div {
  background-color: #EEE;
  width: 100%;
  height: 6px;
  display: inline-block;
}

.content-rightside-block-profile-plenum div,
.content-rightside-block-profile-plenum div i {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.content-rightside-block-profile-plenum div i {
  background-color: #3EB157;
  width: 45%;
  height: 6px;
  display: block;
}

.content-rightside-block-profile-plenum,
.content-rightside-block-profile-plenum-text {
  width: 50%;
}

.content-rightside-block-profile-plenum-text {
  padding-left: 7px;
}

.content-rightside-block-profile-plenum-text small {
  color: #999;
  font-size: 11px;
  line-height: 11px;
}

.content-rightside-block-profile-prize {
  margin-top: 10px;
}

.content-rightside-block-profile-prize-image {
  padding-right: 10px;
}

.content-rightside-block-profile-prize-text {
  line-height: 1.3em;
}

.content-rightside-block-profile-prize-button {
  padding-top: 13px;
}

/*.content-posts-block-wrap {
  background-image: none;
  background-color: #F9F9F9;
  height: auto !important;
}

.content-posts-new-textfield,
.content-posts-new-controls {
  width: 100%;
  display: block;
}

.content-posts-new-textfield {
  padding-bottom: 0;
}

.content-posts-new-controls {
  width: 32%;
  float: right;
}

.content-posts-new-controls-wrap {
  height: 45px;
}*/




.posts-controls-icon-fill {
  display: inline-block;
  vertical-align: middle;
}

/* Add Photo Icon */

.posts-controls-photo
.posts-controls-icon-fill {
  width: 21px;
  height: 16px;
  background: url(../images/content-posts-icons.png) no-repeat 0 -818px;
}

.posts-controls-photo:hover
.posts-controls-icon-fill {
  background-position: 0 -801px;
}

.posts-controls-photo:active
.posts-controls-icon-fill {
  background-position: 0 -696px;
}


/* Add Video Icon*/

.posts-controls-video
.posts-controls-icon-fill {
  width: 22px;
  height: 16px;
  background: url(../images/content-posts-icons.png) no-repeat 0 -389px;
}

.posts-controls-video:hover
.posts-controls-icon-fill {
  background-position: 0 -519px;
}

.posts-controls-video:active
.posts-controls-icon-fill {
  background-position: 0 -502px;
}


/* Add Event Icon*/

.posts-controls-event
.posts-controls-icon-fill {
  width: 19px;
  height: 17px;
  background: url(../images/aside-navigation-events.png) no-repeat -52px -33px;
  margin-top: -1px;
}

.posts-controls-event:hover
.posts-controls-icon-fill {
  background-position: 0 -33px;
}

.posts-controls-event:active
.posts-controls-icon-fill {
  background-position: -13px -51px;
}


/* Add Link Icon*/

.posts-controls-link
.posts-controls-icon-fill {
  width: 22px;
  height: 16px;
  background: url(../images/content-posts-icons.png) no-repeat 0 -70px;
  margin-top: -2px;
}

.posts-controls-link:hover
.posts-controls-icon-fill {
  background-position: 0 -757px;
}

.posts-controls-link:active
.posts-controls-icon-fill {
  background-position: 0 -406px;
}


@media all and (max-height: 600px), (max-device-height: 600px) {
  .aside-friends-chat {
    top: 70px;
  }

  .aside-friends-chat-wrap-list {
    padding-top: 191px;
  }
}


@media all and (max-width: 960px), (max-height: 600px), (max-device-width: 960px), (max-device-height: 600px) {
  .header-navigation {
    height: 24px;
  }

  .header-navigation-item a {
    padding: 2px 10px 4px 10px;
  }

  .header-search {
    margin: 4px 0 0 0;
  }

  .header-searchbar-logo {
    padding-right: 36px;
  }

  .header-account-wrap-notices {
    min-width: 40px;
    width: 40px;
  }

  .header-account-wrap-share {
    min-width: 95px;
    width: 95px;
  }

  .header-account-wrap-avatar {
    min-width: 50px;
    width: 50px;
  }

  .header-account-avatar img {
    width: 29px;
    height: 29px;
  }

  .aside {
    padding-top: 70px;
  }

  .aside-navigation-icon {
    zoom: .8;
  }

  .wrap-content {
    padding-top: 143px;
  }

  .content-wrap-border {
    top: 143px;
  }
}

@media all and (max-width: 1255px),(max-device-width: 1255px) {
  .header-account-name {
    max-width: 156px;
  }

  .content {
    border-right: 0;
  }

  .wrap-content,
  .content-wrap-border {
    padding-right: 0;
  }

  .content-border-right-wrap {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-right: 0;
  }

  .aside-friends {
    height: 50%;
    right: 10px;
    bottom: 0;
    z-index: 5000;
  }

  .aside-friends-chat {
    top: -103px;
  }

  .aside-friends-wrap-chat {
    border: 1px solid #D7D7D7;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.3);
  }

  .aside-friends-chat-wrap-list {
    padding: 0px 20px;
  }

  .aside-friends-chat-wrap-list-wrap {
    position: relative;
    z-index: 1000;
    border-bottom: #000;
  }

  .aside-friends-chat-wrap-list-wrap {
    -webkit-box-shadow: 0 5px 2px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 2px 1px rgba(0,0,0,.3);
    box-shadow: 0 5px 2px 1px rgba(0,0,0,.3);
  }

  .aside-friends-call {
    height: 30px;
    margin-bottom: 0;
  }

  .aside-friends-call button {
    display: none;
  }

  .aside-friends-hide {
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    background: #F9F9F9 url(../images/aside-friends-chatwith.png) no-repeat 9px center;
    line-height: 15px;
    color: #777;
    font-weight: bold;
    padding-left: 31px;
    border: 1px solid #BFBFBF;
    border-bottom: 0;
    display: block;
    position: relative;
    z-index: 1200;
    cursor: default;
  }

  .aside-friends-hide a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
  }

  .aside-friends-hide span,
  .aside-friends-hide i {
    display: inline-block;
  }

  .aside-friends-hide span {
    padding-top: 6px;
  }

  .aside-friends-hide i {
    width: 11px;
    height: 3px;
    background-color: #C8C8C8;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }


  .aside-friends.hide {
    height: 30px;
  }

  .aside-friends.hide .aside-friends-wrap-chat,
  .aside-friends.hide .aside-friends-chat-wrap-list {
    display: none;
  }

  .aside-friends.hide .aside-friends-call {
    position: fixed;
    width: 212px;
    bottom: 0;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  }
}